<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form name="formsBuilder" class="form-signin" novalidate ng-submit="upLoadForm()">
      <h4 class="alert alert-info">{{ prompts.pageTitle }}</h4>

      <pre>{{prompts.jsonFormData}}</pre>

      <button class="btn btn-lg btn-success btn-block" 
              type="submit" >{{prompts.btnUpload}}
      </button>

       <button class="btn btn-lg btn-primary btn-block" 
              type="button" 
              onclick="window.history.go(-1);">{{prompts.btnBack}}
       </button>

    </form>
  </div>
</div>